<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845887676725-vu4bbc86t84gaop9jb6duviplp500dko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845887676725-vu4bbc86t84gaop9jb6duviplp500dko</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>845887676725-kf6f7fpr9cp2vgto3tn57afpbvmer7h3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATBN6BNYqu1sOoJK1-QSIcKZ5AhYUvQEw</string>
	<key>GCM_SENDER_ID</key>
	<string>845887676725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pCare</string>
	<key>PROJECT_ID</key>
	<string>p-care-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>p-care-firebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845887676725:ios:f2b7e761d92963e0e0ec7c</string>
</dict>
</plist>